.download-wrapper {
    padding: 90px 0 115px;
}

.download {
    position: relative;
    margin: 0 auto;
}

.download-title {
    font-size: 46px;
    color: #2ABF5E;
}

.download-text {
    font-size: 36px;
    color: #888888;
    margin: 70px 0 70px;
}

.download-left-text, .download-right-text {
    max-width: 320px;
    position: absolute;
    margin: 10px;
}

.download-left-text {
    top: 0;
    left: 0;
}

.download-right-text {
    right: 0;
    bottom: 0;
}

.download-download, .download-buy {
    padding: 20px 80px;
    background-color: #2ABF5E;
    border: 2px solid #1F8F47;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
}

.download-download:hover, .download-buy:hover {
    cursor: pointer;
    background-color: #fff;
    color: #1F8F47;
}