.features-wrapper {
    background-color: #2ABF5E;
    text-align: center;
    padding-top: 70px;
}

.features {
    position: relative;
    margin: 0 auto;
}

.features-title, .features-text-bold, .features-text, .features-link {
    color: #fff;
}

.features-title {
    font-size: 48px;
}

.features-text-block {
    max-width: 470px;
    padding-bottom: 130px;
}

.features-text-bold, .features-text {
    font-size: 36px;
}

.features-text-bold {
    margin-top: 230px;
}

.features-text {
    margin: 80px 0 70px;
}

.features-link {
    text-decoration: none;
    padding: 25px 90px;
    border: 1px solid #1F8F47;
    border-radius: 5px;
}

.features-link:hover {
    background-color: #fff;
    color: #1F8F47;
}

.features-image {
    position: absolute;
    bottom: 0;
    right: 0;
}