.screenshot-wrapper {
    background-color: #2ABF5E;
    padding: 110px 0;
    text-align: center;
    margin-top: 110px;
}

.screenshot-title {
    font-size: 48px;
    color: #fff;
    margin-bottom: 270px;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-wrapper {
    margin-bottom: 150px;
}

.swiper-pagination-bullet {
    background-color: #fff;
    height: 25px;
    width: 25px;
}